<!DOCTYPE html>
<html>
<head>
	<title>Sinatra App</title>
	<meta charset="UTF-8">

	<!-- Latest compiled and minified Fontstrap CSS -->
	<link rel="stylesheet" href="/dist/css/fontstrap.min.css">

		<!-- Global CSS -->
	<link rel="stylesheet" href="/css/global.css">

	<% unless extra_style_sheet.nil? %>
		<!-- Extra Styles -->
		<%= extra_style_sheet %>
	<% end %>

</head>
<body>

	<% if session[:errors] %>
		<ul>
			<% for error in session[:errors] %>
				<li><%= error %></li>
			<% end %>
		</ul>
	<% end %>

	<% if flash[:info] %>
		<div class="flash">
				<%= flash[:info] %>
		</div>
	<% end %>

	<%= yield %>

	<script type="text/javascript" src="/dist/js/third_party/jquery.min.js"></script>
	<script type="text/javascript" src="/dist/js/fontstrap.min.js"></script>

</body>
</html>
