<!DOCTYPE html>
<html>
<head>
	<title>Sinatra App</title>
	<meta charset="UTF-8">

	<script type="text/javascript" src="/js/jquery.min.js"></script>

	<!-- Latest compiled and minified Bootstrap CSS -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">

	<!-- Optional Bootstrap theme -->
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css">

		<!-- Global CSS -->
	<link rel="stylesheet" href="/css/global.css">
	
	<% unless extra_style_sheet.nil? %>
		<!-- Extra Styles -->
		<%= extra_style_sheet %>
	<% end %>

	<!-- Font Awesome-->
	<link href="/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>

	<% if session[:errors] %>
    <ul>
      <% for error in session[:errors] %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <% if flash[:info] %>
    <div class="flash">
        <%= flash[:info] %>
    </div>
  <% end %>

	<%= yield %>

	<!-- Latest compiled and minified JavaScript -->
	<script src="/js/bootstrap.min.js"></script>

</body>
</html>