<nav class="navbar navbar-dark bg-primary navbar-fixed-top">
  <a class="navbar-brand" href="/">Sinatra App</a>
  <ul class="nav navbar-nav float-xs-right">
    <li class="nav-item"><a class="nav-link" href="/app/profile"><span class="username"><%= current_user.username %></span><fa class="fa fa-nav fa-user"></fa></a></li>
    <li class="nav-item"><a class="nav-link" href="/app/settings"><fa class="fa fa-nav fa-gear"></fa></a></li>
    <li class="nav-item"><a class="nav-link" href="/logout"><fa class="fa fa-nav fa-power-off"></fa></a></li>
  </ul>
</nav>