<!DOCTYPE html>
<html>
<head>
	<title>Sinatra App</title>
	<meta charset="UTF-8">

	<script type="text/javascript" src="/js/jquery.min.js"></script>

	<!-- Latest compiled and minified Bootstrap CSS -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">

	<!-- Optional Bootstrap theme -->
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css">

	
	<% unless extra_style_sheet.nil? %>
		<!-- Extra Styles -->
		<%= extra_style_sheet %>
	<% end %>

	<!-- Font Awesome-->
	<link href="/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>

	<%= yield %>

	<!-- Latest compiled and minified JavaScript -->
	<script src="/js/bootstrap.min.js"></script>

</body>
</html>