<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#"><i class="icon-home icon-white"> </i>SandyBox Example</a>
	</div>
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li class="menu-item"><a href="#">First Level</a></li>
			<li class="menu-item dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">First Level <i class="fa fa-caret-down"></i></a>
				<ul class="dropdown-menu">
					<li class="menu-item"><a href="#">Second Level</a></li>
					<li class="menu-item dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Second Level <i class="fa fa-caret-right pull-right"></i></a>
						<ul class="dropdown-menu">
							<li class="menu-item "><a href="#">Third Level</a></li>
							<li class="menu-item "><a href="#">Third Level</a></li>
							<li class="menu-item dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Third Level <i class="fa fa-caret-right pull-right"></i></a>
								<ul class="dropdown-menu">
									<li><a href="#">Fourth Level</a></li>
									<li><a href="#">Fourth Level</a></li>
									<li><a href="#">Fourth Level</a></li>
									<li><a href="#">Fourth Level</a></li>
									<li class="menu-item dropdown dropdown-submenu pull-left"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Fourth Level <i class="fa fa-caret-right pull-right"></i></a>
										<ul class="dropdown-menu">
											<li><a href="#">Fifth Level</a></li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="menu-item"><a href="#">Second Level</a></li>
				</ul>
			</li>
			<li class="menu-item"><a href="#">First Level</a></li>
		</ul>
		<div class="pull-right">
			<button data-color="black" class="navbar-btn btn btn-default body-color-change">Default</button>
			<button data-color="#d9534f" class="red navbar-btn btn btn-danger body-color-change"> </button>
			<button data-color="#428bca" class="blue navbar-btn btn btn-primary body-color-change"> </button>
			<button data-color="#f0ad4e" class="orange navbar-btn btn btn-warning body-color-change"> </button>
			<button data-color="#5cb85c" class="green navbar-btn btn btn-success body-color-change"> </button>
			<button data-color="#5bc0de" class="aqua navbar-btn btn btn-info body-color-change"> </button>
		</div>
	</div>
</div>
<div style="height: 70px;"></div>
<div class="container">
	<h1>Bicycle</h1>
	<h1><i class="fa fa-bicycle text-info fa-3x"></i></h1>
	<h2>Futbol</h2>
	<h1><i class="fa fa-futbol-o text-success fa-3x"></i></h1>
	<h3>Top Secret</h3>
	<p>
		<span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-arrow-up fa-stack-1x"></i></span>
		<span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-arrow-up fa-stack-1x"></i></span>
		<span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-arrow-down fa-stack-1x"></i></span>
		<span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-arrow-down fa-stack-1x"></i></span>
		<span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-arrow-left fa-stack-1x"></i></span>
		<span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-arrow-right fa-stack-1x"></i></span>
		<span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-arrow-left fa-stack-1x"></i></span>
		<span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-arrow-right fa-stack-1x"></i></span>
		<span class="fa-stack fa-lg"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-stack-1x"><strong>b</strong></i></span>
		<span class="fa-stack fa-lg"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-stack-1x"><strong>a</strong></i></span>
	</p>
	<p>Sed viverra augue tellus nulla sollicitudin scelerisque, scelerisque rutrum mauris pharetra tempor donec arcu, ante nunc ipsum donec nec dis vitae, ipsum tempor. Vel volutpat, sed vel imperdiet, vehicula auctor purus in, eu non tempor amet euismod ligula dictumst, massa orci posuere cras varius suscipit ac. Erat dui. Vitae purus suspendisse facilisi vivamus, ligula placerat pede lorem amet, sociosqu mauris, hendrerit mollis nulla in, sed at ante imperdiet. Nulla nonummy, purus pede at id sem morbi, pariatur aliquet massa donec suspendisse mi, integer malesuada velit aenean.</p>
	<p>Wisi nulla at ut ornare, risus elit convallis orci volutpat quam scelerisque. Vestibulum pretium scelerisque. Pulvinar placerat id dictum eros a, sed facilisi vulputate ut integer, nec lacinia magna dolore dolor lacus, sed scelerisque vel dolor adipiscing sagittis. Natus urna a faucibus eu iaculis consectetuer, vivamus massa sed, vel et, morbi rhoncus nibh, etiam wisi iaculis amet dolor pharetra nisl. Amet ante rhoncus leo vel dictum, morbi duis massa, pretium amet vitae, eleifend laoreet mattis id imperdiet integer.</p>
	<p>Magna ad, mauris sit quisque amet porta rutrum nunc, in justo metus fringilla pellentesque venenatis, metus eget praesent, blanditiis maecenas suscipit aliquam nec placerat. Potenti erat dolor sit lobortis, pellentesque sit vestibulum commodo at mauris ipsum, wisi justo nulla leo feugiat nonummy, non non porta tortor et elit quis, ut lectus lorem rhoncus. Ut ligula fusce enim lectus condimentum, wisi magna et, suspendisse lacus lobortis, mi vulputate suspendisse eget vestibulum enim. Nam parturient, fermentum semper, sed parturient sed vitae consequat. Eget metus felis dictum, vulputate et morbi molestie. Consequat etiam arcu amet bibendum aenean eu, egestas lacus sed fusce arcu id sociis. Id nulla est morbi sed eu in, neque nullam eros amet vestibulum ornare odio, dignissim adipiscing, in nunc tincidunt ut mattis quis. Consectetuer enim nullam. Fermentum malesuada adipiscing ridiculus morbi sed, in ultrices nulla, erat id cursus, risus litora. Lacus egestas pede accumsan augue euismod, posuere nunc ullamcorper maecenas consectetuer et, aenean in at dui justo lacus ullamcorper. Eros aenean ante erat posuere, sit amet pellentesque.</p>
</div>
<script>
	$('.body-color-change').click(function(){
		var color = $(this).data("color");
		$('body').css('color',color);
	});
	
	// Multiple Layer Menu
	$(document).ready(function() {
		$('ul.dropdown-menu [data-toggle=dropdown]').on('click', function(event) {
			// Avoid following the href location when clicking
			event.preventDefault(); 
			// Avoid having the menu to close when clicking
			event.stopPropagation(); 
			// opening the one you clicked on
			$(this).parent().toggleClass('open');
		});
	});
	
	// Konami Code
	var up = {code:38,show:'<span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-arrow-up fa-stack-1x"></i></span>'};
	var down = {code:40,show:'<span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-arrow-down fa-stack-1x"></i></span>'};
	var right = {code:39,show:'<span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-arrow-right fa-stack-1x"></i></span>'};
	var left = {code:37,show:'<span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-arrow-left fa-stack-1x"></i></span>'};
	var a = {code:65,show:'<span class="fa-stack fa-lg"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-stack-1x"><strong>a</strong></i></span>'};
	var b = {code:66,show:'<span class="fa-stack fa-lg"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-stack-1x"><strong>b</strong></i></span>'};

  var sequence = [up,up,down,down,left,right,left,right,b,a];
  var current = 0;

  $(document).keydown(function(e){
    if ( e.keyCode == sequence[current].code ) {
      current++;
      if ( current == sequence.length ) {
        alert('Secret'); 
        current = 0;
        $('.current-btn').html(sequence[0].show);
      } else {
        $('.current-btn').html(sequence[current].show);
      }
    }else{
      current = 0;
      $('.current-btn').html(sequence[0].show);
    }
	});
</script>