<%= erb :home_nav %>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Sinatra App!</h1>
    <p>This is a template Sinatra application that has a few items out of the box.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>User Management</h2>
      <p> User are able to signup for a login and then update their settings and passwords from profile manager. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Page Permissions</h2>
      <p>You can setup Page Security from Public, User, to Admin. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>SQLite DB</h2>
      <p>Users are stored on a sqlite3 db and managed with datamapper.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>

</div> <!-- /container -->

<%= erb :footer %>