/*
 * Global add-ons
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 60px;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

.navbar .username {
	margin-right: 8px;
}

.fa.fa-nav {
  font-size: 1.25em;
}

@media (min-width: 768px) {
	.navbar-toggleable-md .navbar-right {
		display: block;
		float: right;
		margin-right: 0px;
	}
}

.flash {
  color: red;
  text-align: center;
  min-width: 100%;
  position: absolute;
  top: 75px;
  font-size: 24px;
}

/*
 * footer
 */

footer {
	position: fixed;
	bottom: 0;
	z-index: 1000;
	padding-bottom: 10px;
	width: 100%;
	text-align: right;
	background-color: #fff;
}

footer p {
	margin-right: 20px;
}

footer hr {
	margin-top: 10px;
	margin-bottom: 10px;
}
